$color_1: #ccc;
$color_2: #999;
$color_3: #e2777a;
$color_4: #6196cc;
$color_5: #f08d49;
$color_6: #f8c555;
$color_7: #cc99cd;
$color_8: #7ec699;
$color_9: #67cdcc;
$color_10: green;
$color_11: #f4f1ef;
$color_12: inherit;
$font-family_1: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
$background-color_1: hsla(24,20%,50%,.4);
$background-color_2: rgba(128,128,128,.2);
$background-color_3: rgba(255,0,0,.1);
$background-color_4: rgba(0,255,128,.1);

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+awk+bash+c+cpp+css-extras+csv+diff+django+dns-zone-file+docker+editorconfig+erb+git+go+go-module+graphql+http+ignore+liquid+log+markdown+markup-templating+mermaid+nginx+promql+python+ruby+rust+scss+shell-session+sql+systemd+toml+vim+yaml&plugins=line-highlight+autolinker+diff-highlight */
code[class*=language-] {
	color: $color_1;
	background: 0 0;
	font-family: $font-family_1;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
pre[class*=language-] {
	color: $color_1;
	background: 0 0;
	font-family: $font-family_1;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	background: #2d2d2d;
}
&:not(pre) {
	>code[class*=language-] {
		background: #2d2d2d;
		padding: .1em;
		border-radius: .3em;
		white-space: normal;
	}
}
.token.block-comment {
	color: $color_2;
}
.token.cdata {
	color: $color_2;
}
.token.comment {
	color: $color_2;
}
.token.doctype {
	color: $color_2;
}
.token.prolog {
	color: $color_2;
}
.token.punctuation {
	color: $color_1;
}
.token.attr-name {
	color: $color_3;
}
.token.deleted {
	color: $color_3;
}
.token.namespace {
	color: $color_3;
}
.token.tag {
	color: $color_3;
}
.token.function-name {
	color: $color_4;
}
.token.boolean {
	color: $color_5;
}
.token.function {
	color: $color_5;
}
.token.number {
	color: $color_5;
}
.token.class-name {
	color: $color_6;
}
.token.constant {
	color: $color_6;
}
.token.property {
	color: $color_6;
}
.token.symbol {
	color: $color_6;
}
.token.atrule {
	color: $color_7;
}
.token.builtin {
	color: $color_7;
}
.token.important {
	color: $color_7;
	font-weight: 700;
}
.token.keyword {
	color: $color_7;
}
.token.selector {
	color: $color_7;
}
.token.attr-value {
	color: $color_8;
}
.token.char {
	color: $color_8;
}
.token.regex {
	color: $color_8;
}
.token.string {
	color: $color_8;
}
.token.variable {
	color: $color_8;
}
.token.entity {
	color: $color_9;
	cursor: help;
}
.token.operator {
	color: $color_9;
}
.token.url {
	color: $color_9;
}
.token.bold {
	font-weight: 700;
}
.token.italic {
	font-style: italic;
}
.token.inserted {
	color: $color_10;
}
pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}
.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: hsla(24,20%,50%,.08);
	background: linear-gradient(to right,hsla(24,20%,50%,.1) 70%,hsla(24,20%,50%,0));
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
	&:before {
		content: attr(data-start);
		position: absolute;
		top: .4em;
		left: .6em;
		min-width: 1em;
		padding: 0 .5em;
		background-color: $background-color_1;
		color: $color_11;
		font: bold 65%/1.5 sans-serif;
		text-align: center;
		vertical-align: .3em;
		border-radius: 999px;
		text-shadow: none;
		box-shadow: 0 1px #fff;
	}
}
.line-highlight[data-end] {
	&:after {
		content: attr(data-start);
		position: absolute;
		top: .4em;
		left: .6em;
		min-width: 1em;
		padding: 0 .5em;
		background-color: $background-color_1;
		color: $color_11;
		font: bold 65%/1.5 sans-serif;
		text-align: center;
		vertical-align: .3em;
		border-radius: 999px;
		text-shadow: none;
		box-shadow: 0 1px #fff;
		content: attr(data-end);
		top: auto;
		bottom: .4em;
	}
}
.line-numbers {
	.line-highlight {
		&:after {
			content: none;
		}
		&:before {
			content: none;
		}
	}
}
pre[id].linkable-line-numbers {
	span.line-numbers-rows {
		pointer-events: all;
		>span {
			&:before {
				cursor: pointer;
			}
			&:hover {
				&:before {
					background-color: $background-color_2;
				}
			}
		}
	}
}
.token {
	a {
		color: $color_12;
	}
}
pre.diff-highlight {
	>code {
		.token.deleted {
			&:not(.prefix) {
				background-color: $background-color_3;
				color: $color_12;
				display: block;
			}
		}
		.token.inserted {
			&:not(.prefix) {
				background-color: $background-color_4;
				color: $color_12;
				display: block;
			}
		}
	}
}
pre {
	>code.diff-highlight {
		.token.deleted {
			&:not(.prefix) {
				background-color: $background-color_3;
				color: $color_12;
				display: block;
			}
		}
		.token.inserted {
			&:not(.prefix) {
				background-color: $background-color_4;
				color: $color_12;
				display: block;
			}
		}
	}
}
@media print {
	.line-highlight {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
	}
}

